<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <!-- The CLI exports APP_ENV=dev into $_ENV too, which the kernel would otherwise prefer. -->
    <env name="APP_ENV" value="test" force="true"/>
    <env name="APP_DEBUG" value="0" force="true"/>
    <!-- Tests build their own schema in a throwaway SQLite file, whatever database the shell points at. -->
    <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!-- Uncomment when adding extensions
    <extensions>
    </extensions>
    -->
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
