{% extends 'base_layout.html.twig' %}

{% block title %}
MIU
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block maincontent %}
<div id="uploader">
    <div class="row sideblock justify-content-md-center" id="upload-box">
        <div class="col-md-8 col-sm-12" id="upload-box-inner">
            <div id="upload-legacy">
                <h2>Upload your file (100Mb max)</h2>
                <form class="form-inline" action="/getfile/" method="post" enctype="multipart/form-data">
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" name="meowfile">
                    </label>
                    <input type="submit" value="Upload" class="btn btn-primary">
                </form>
            </div>
            <div class="upload-dropzone">
                <div class="dropzone-border">
                    <div class="dropzone" id="dropzonefield"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sideblock justify-content-md-center" id="mirror-box">
        <div class="col-md-6 col-sm-12">
            <p class="mt-2 mb-0">Upload a file</p>
            <p class="mb-0 mt-0"><span></span>or<span></span></p>
            <form id="mirror_uploader" class="mirror-form" action="/mirrorfile/" method="post"
                enctype="multipart/form-data">
                <div class="form-group">
                    <label for="mirrorfile">Mirror a file</label>
                    <input id="mirrorfile" name="mirrorfile" placeholder="Direct link" class="form-control" type="text" value="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary btn-outline-miu">Fetch</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('home') }}
<script>

</script>
{% endblock %}