{% extends 'base_layout.html.twig' %}

{% block title %}
    My files - {{ userName }}
{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="col-md-offset-4 col-xs-8" id="managebuttons">
            <a class="btn {{ page == 'token' ? 'btn-info' : 'btn-default' }}" href="/manage/mytoken" role="button">Remote token</a>
            <a class="btn {{ page == 'mypics' ? 'btn-info' : 'btn-default' }}" href="/manage/mypics" role="button">View my pictures</a>
            {% if app.isUserAdmin == true %}
                <a class="btn {{ page == 'adminusers' ? 'btn-info' : 'btn-default' }}" href="/manage/admin/users" role="button">Admin control panel</a>
            {% endif %}
        </div>
    </div>
    {% block managecontent %}
    {% endblock %}
{% endblock %}