{% extends 'base_layout.html.twig' %}

{% block title %}
    MIU
{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">{{ text }}</div>
        </div>
    </div>
{% endblock %}