{% extends 'base_layout.html.twig' %}

{% block title %}
    Uploaded - MIU
{% endblock %}

{% block maincontent %}
    <div id="uploader">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <input class="form-control uploadControls" id="uploadResult" title="Here's your file!" value="{{ url('get_file_custom_url', {'customUrl': file.customUrl, 'fileExtension': file.originalExtension}) }}">
                <button id="clipboardbtn" class="btn btn-success uploadControls clipbutton" data-clipboard-target="#uploadResult">
                    <img src="{{ asset('static/clippy.svg') }}" alt="Copy to clipboard" width="15">
                </button>
            </div>
        </div>
    </div>
{% endblock %}