{% extends 'base_layout.html.twig' %}

{% block title %}
    404 - MIU
{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="center-block">
            <h2>File not found!</h2>
            <span>Or maybe it was never here to begin with.</span>
            <span>Perhaps there's something else we could do for you?~</span>
        </div>
    </div>
    <div class="row">
        <div class="center-block">
            <img class="error-image" src="{{ asset('static/404.jpg') }}">
        </div>
    </div>
{% endblock %}